<h2>Você finalizou o seu cadastrou no site da Santana Consultoria em R.H.!</h2>

<%=h @user.login %>, para voltar ao site e cadastrar seu currículo, por favor, siga para o seguinte link: %>

<%= @url %>