<h2>Ativação Realizada - Santana Consultoria em R.H.</h2>

<p>A ativação de seu cadastro no site da Santana Consultoria em R.H. foi realizada
com sucesso!</p>

<p>Agora você já pode usufruir de todas as vantagens do site, criar o seu currículo e
ficar por dentro de todas as futuras seleções da Santana Consultoria. Por favor, retorne
ao site e utilize seu nome de usuário (login) e senha para começar a utilizar o site!

Nome de usuário: <%=h @user.login %>

Site: <%= @url %>

<p>Obrigado!</p>

<p><%= link_to "Equipe da Santana Consultoria em R.H.", "http://www.santanarh.com.br" %></p>