<h2>Recuperação de Senha - Santana Consultoria em R.H.</h2>

<p>Caro usuário,</p>

<p>Você iniciou o processo de recuração de senha pelo nosso site. Para voltar a utilizar
os serviços de nosso site, por favor, siga o link abaixo:</p>
Nome de usuário:<%=h @user.login %>
Link para recuperação de senha: <%= @url %>

<p>Obrigado!</p>

<p><%= link_to "Equipe da Santana Consultoria em R.H.", "http://www.santanarh.com.br" %></p>

