<%=h @user.login %>, sua senha foi resetada.

<h2>Senha Recuperada com Sucesso - Santana Consultoria em R.H.</h2>

<p>Sua senha foi recuperada com sucesso.</p>

Nome de usuário: <%=h @user.login %>

Site: http://www.santanarh.com.br

<p>Obrigado!</p>

<p><%= link_to "Equipe da Santana Consultoria em R.H.", "http://www.santanarh.com.br" %></p>