<h2>Cadastro Realizado - Santana Consultoria em R.H.</h2>

<p>Seu cadastro no site da Santana Consultoria em R.H. foi realizada com sucesso!</p>

<p>Para usufruir do site da Santana Consultoria e de todos os nossos serviços, por favor,
clique no link abaixo para ativar seu link.</p>
Nome de usuário: <%=h @user.login %>

Site: <%= @url %>

<p>Obrigado!</p>

<p><%= link_to "Equipe da Santana Consultoria em R.H.", "http://www.santanarh.com.br" %></p>

