<h1>Resultados da Busca</h1>

<%= render :partial => @curriculos%>

<%=will_paginate @curriculos, :previous_label => "« Anterior", :next_label => "Próximo »"%>
<%= link_to 'Voltar', @search, :method => :delete %>

